@font-face {
    font-family: JetBrains;
    src: url(JetBrains.ttf)
}

* {
    font-family: JetBrains;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #454545;
}

a {
    color: yellow;
    text-decoration: none;
}

a:hover {
    color: gray;
}

.white {
    color: white;
}

.yellow {
    color: yellow;
}

.center {
    display: flex;
    justify-content: center;
}

.spacebetween {
    display: flex;
    justify-content: space-between;
}

.topcontentcontainer {
    width: 100%
}

.navbarcontainer {
    width: 100%;
}

.navbar1 {
    background-color: black;
    display: flex;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 40%;
    transition: width .5s;
}

.navbar1:hover {
    width: 75%;
}

.navbar2 {
    background-color: #171717;
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50%;
    transition: width .5s;
}

.navbar2:hover {
    width: 75%;
}

.navbar3 {
    background-color: #2E2E2E;
    padding-left: 90px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 60%;
    transition: width .5s;
}

.navbar3:hover {
    width: 75%;
}

.imgcontainer {
    width: 25%;
    padding-right: 90px;
    padding-top: 20px;
}

img {
    width: 200px;
    height: 175px;
    border: solid 15px yellow;
}

#navbartransition {transition-timing-function: ease-out;}

.content {
    background-color: #2E2E2E;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.contentformat {
    padding: 30px;
}

