@font-face {
    font-family: JetBrains;
    src: url(JetBrains.ttf)
}

*,
*:before,
*:after {
    font-family: JetBrains;
    margin: 0px;
    padding: 0px;
    /* border: solid black 1px; */
}

body {
    width: 100vw;
    overflow-x: hidden;
}

.banner {
    /* background-color: #454545; */
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, white 0.1%, transparent 60%), url(../images/space-bg2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.banner .clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.banner .clouds img {
    position: absolute;
    bottom: 0;
    max-width: 100vw;
    animation: animate calc(25s * var(--i)) linear infinite;
}

@keyframes animate {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.space-robot-img1 {
    width: 20vw;
    height: 55vh;
    border-left: dotted 45px #E0C61F;
    border-bottom: dotted 45px #8B7C13;
}

.space-robot-img2 {
    width: 20vw;
    height: 55vh;
    border-right: dotted 45px #CE3A18;
    border-bottom: dotted 45px #79220E;
}

.leftside {
    flex-direction: column;
}

.rightside {
    flex-direction: column;
}

.w-50 {
    width: 50vw;
}

.w-100 {
    width: 100vw;
}

.center {
    display: flex;
    justify-content: center;
}

.m-5 {
    margin: 5vw;
}

.d-flex {
    display: flex;
}

a {
    color: yellow;
    text-decoration: none;
}

a:hover {
    color: #E0C61F;
}

.white {
    color: white;
}

.yellow {
    color: yellow;
}

.navbarcontainer {
    margin-top: 5vw;
    width: 100vw;
}

.navbar1 {
    background-color: #042E4B;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 30vw;
    transition: width .5s;
}

.navbar1:hover {
    width: 35vw;
}

.navbar2 {
    background-color: #054B73;
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 55vw;
    transition: width .5s;
}

.navbar2:hover {
    width: 60vw;
}

#navbartransition {
    transition-timing-function: ease-out;
}

section {
    position: relative;
    padding: 75px 100px;
    /* background: linear-gradient(to bottom, transparent 100%, #054B73 10%) */
}

section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.mt-2 {
    margin-top: 2vw;
}

.mb-2 {
    margin-bottom: 2vw;
}

.mb-5px {
    margin-bottom: 5px;
}

.p-75px {
    padding: 75px;
}

.align-center {
    align-items: center;
}

.formcontainer {
    background-color: #054B73;
    height: 50vh;
    width: 100vw;
    padding-top: 75px;
}

.bg-blue {
    background-color: #042E4B;
}

.formbox {
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 75px;
    border: solid yellow 2px;
}

/* .noselect {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
    user-select: none;
-webkit-tap-highlight-color: transparent;
} */

button {
    width: 150px;
    height: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12pt;
    color: black;
    background: yellow;
    border: 2px solid black;
    box-shadow: 2px 2px 0 white,
        -2px -2px 0 white,
        -2px 2px 0 white,
        2px -2px 0 white;
    transition: 500ms ease-in-out;
}

button:hover {
    box-shadow: 20px 5px 0 yellow, -20px -5px 0 yellow;
    background: white;
}

button:focus {
    outline: none;
}

/* Generated Image Properties */

/* section .generated-image {
    height: 100vh;
    width: 100%;
    padding-top: 75px;
} */

.image-container {
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 75px;
    /* border: solid yellow 2px; */
}

#image {
    display: block;
    margin: auto;
}

#err-message {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 1rem;
}